.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

.field-row,
.field-header {
  display: flex;
  margin-bottom: 8px;
}

.field-cell {
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.shw-chbx {
  width: 50px;
}

.lb-txt {
  width: 35%;
}

.fld-cd {
  width: 55%;
}

.dl-btn {
  width: 20px;
}
