.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

.field-row,
.field-header {
  display: flex;
  margin-bottom: 8px;
}

.field-cell {
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.shw-chbx {
}

.lb-txt {
}

.fld-cd {
}

.dl-btn {
}

.field-cell.shw-chbx {
  width: 200px;
}

.field-cell.shw-chbx .kuc-checkbox-1-21-0__group {
    width: auto;
}

.field-cell.lb-txt ,
.field-cell.lb-txt .kuc-text-1-21-0__group {
    width: 250px;
}

.field-cell.fld-cd,
.field-cell.fld-cd .kuc-dropdown-1-21-0__group {
    width: 300px;
}

.kintoneplugin-input-text {
    color: unset;

}

.field-cell.fld-x,
.field-cell.fld-y,
input.pdf-title-fontsize,
input.pdf-body-fontsize,
input.pdf-title-fld-x,
input.pdf-title-fld-y,
.field-cell.fld-x .kuc-text-1-21-0__group,
.field-cell.fld-y .kuc-text-1-21-0__group{
  width: 65px;
}
.pdf-title-fontsize,
.pdf-body-fontsize,
.pdf-title-fld-x-label,
.pdf-title-fld-y-label{
  margin-left: 0px;
  margin-right: 10px;
}
input.pdf-title-fontsize,
input.pdf-body-fontsize,
input.pdf-title-fld-x,
input.pdf-title-fld-y{
  margin-right: 30px;
}


input.pdf-bg-img {
  border: unset;
  box-shadow: unset;
}


div.flex-contener {
  display: inline-flex;
}

.pdf-bg-img-setting-contener {
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 10px;
}

div#pdf-bg-img-preview-container {
  margin-left: 50px;
}


img#pdf-bg-img-preview{
  max-height: 300px;
}


hr.pdfCreator-hr {
  border: 1px solid rgb(227, 231, 232);
}


img:before {
  content: none;
}
img.broken {
  display: none;
}

section.license-content {
    font-size: 10px !important;
    margin: 15px 0px 30px 30px;
}