.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}
.pdf-preview.preview-hide {
  display: none;
}
.pdf-preview.preview-show {
  display: block;
}

button#show_pdf_preview_space,
button#pdf-export-button{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
